
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{% block title %}REMB{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('framework/bootstrap-3.3.6/css/bootstrap.min.css') }}" >
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
        
        <!-- Optional theme -->
        <link rel="stylesheet" href="{{ asset('framework/bootstrap-3.3.6/css/bootstrap-theme.min.css') }}" >
        <!-- Latest compiled and minified JavaScript -->
        <script src="{{ asset('framework/jquery/jquery-1.12.1.min.js') }}" ></script>
        <script src="{{ asset('framework/bootstrap-3.3.6/js/bootstrap.min.js') }}" ></script>  
        <link href="{{ asset('framework/fullcalendar-2.6.1/fullcalendar.css') }}" rel='stylesheet' />
        <link href="{{ asset('framework/fullcalendar-2.6.1/fullcalendar.print.css')}}" rel='stylesheet' media='print' />
        <script src="{{ asset('framework/fullcalendar-2.6.1/lib/moment.min.js') }}"></script>
        <script src="{{ asset('framework/fullcalendar-2.6.1/lib/jquery.min.js') }}"></script>
        <script src="{{ asset('framework/fullcalendar-2.6.1/fullcalendar.min.js') }}"></script>
        <script src="{{ asset('framework/fullcalendar-2.6.1/lang-all.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/general.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/accueil.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/presentation.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/actualite.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/form.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/contact.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/forum.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/offre.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/rapport.css') }}">
        <link rel="stylesheet" media="screen and (max-width:1700px)" type="text/css" href="{{ asset('css/accueil_small_screen.css') }}" >  
        <script src="{{ asset('framework/jquery/jquery-1.11.14-ui.min.js') }}" ></script>
        <link rel="stylesheet" href="{{ asset('framework/jquery/jquery-1.11.14-ui.css') }}">
        
        
        <!-------------------------- FANCYBOX-------------------------------- -->
        <!-- Add jQuery library -->
    
    <!-- Add mousewheel plugin (this is optional) -->
        <script type="text/javascript" src="{{ asset('framework/fancyBox/lib/jquery.mousewheel-3.0.6.pack.js') }}"></script>
    
        <!-- Add fancyBox main JS and CSS files -->
        <script type="text/javascript" src="{{ asset('framework/fancyBox/source/jquery.fancybox.js?v=2.1.5') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ asset('framework/fancyBox/source/jquery.fancybox.css?v=2.1.5') }}" media="screen" />
    
        <!-- Add Button helper (this is optional) -->
        <link rel="stylesheet" type="text/css" href="{{ asset ('framework/fancyBox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5') }}" />
        <script type="text/javascript" src="{{ asset('framework/fancyBox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5') }}"></script>
    
        <!-- Add Thumbnail helper (this is optional) -->
        
        <script type="text/javascript" src=" {{ asset ('framework/fancyBox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7') }}"></script>
    
        <!-- Add Media helper (this is optional) -->
        <script type="text/javascript" src=" {{ asset('framework/fancyBox/source/helpers/jquery.fancybox-media.js?v=1.0.6') }}">
        </script> <script src="{{ asset('js/fancy.js') }}"></script>
        
    </head>
     <body>
        <div class="header">
            {% block menu %}{% endblock %}
        </div>
        <div class="master container-fluid ">
            {% block main_master %}{% endblock %}
        </div>
        <footer class="hidden-xs"><!-- BEGIN FOOTER -->
            {% block footer %} {% endblock %}
        </footer><!-- END FOOTER -->

        {% block javascripts %}{% endblock %}
    </body>
</html>
