{% extends 'MainBundle::base.html.twig' %}
{% use 'MainBundle:Front:menu.html.twig' %}
{% use 'MainBundle:Front:agenda.html.twig' %}
{% use 'MainBundle:Front:footer.html.twig' %}
{% block main_master %}
		<section class="actualite">
			<div class="row">
			<div class=" col-sm-8">
				<section class="une">
						<div class="bandeau_img">
							<h1>{{lastActu.titre}}</h1>
							<img src="{{ asset('img/diapo/img3.jpg') }}"></img>
						
						</div>
						
							<div class="resume">
								
								{{ lastActu.description|striptags|truncate(200,false)}}
					          <br><a href="{{ path('detail_actu',{'id':lastActu.id }) }}" class="caption-more">...Lire plus</a>
					         
					       </div>
							
						
				</section>
				<section class="list_article">
				    {% autoescape %}
                    {% for actu in actu %}
				      <a href="{{ path('detail_actu',{'id':actu.id }) }}"><article>
					    <img src="{{ asset('img/diapo/'~actu.img) }}"></img><h2>{{actu.titre}}</h2>
					   
					    {{ actu.description|truncate(200,false)|raw}}
				    
				    </article> </a>
				     {% endfor %}
				     {% endautoescape %}
				<nav class="article_pagination">
				    {{ knp_pagination_render(actu) }}
				   
				</nav>
			</section>
			</div>
			<aside class=" other col-sm-4">
				<h2>A la une</h2>
				<ul>
				    {% if fourLastActu|length >0 %}
				      {% for elmt in fourLastActu %}
					    <li><a href="{{path('detail_actu',{'id':elmt.id}) }}"><span class="date">{{elmt.date|date('Y-m-d')}}</span>{{elmt.titre}}</a></li>
					  {% endfor %}
					{% endif %}
				
					
				</ul>
				<aside class="aside_accueil ">
					<h3 id="titre_agenda"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Agenda</h3>
					<div id="calendar">
					
					</div>
				</aside>
			</aside>
			
			</div>
			
		</section>
{% endblock %}