{% extends 'MainBundle::base.html.twig' %}
{% use 'MainBundle:Front:menu.html.twig' %}
{% use 'MainBundle:Front:footer.html.twig' %}

{% block main_master %}

		<div class="master container-fluid" style="margin-top: 35px">

		  {% if listForum|length>0 %}
		  
		  <div >
		    <h1 class="pull-left">Liste des forums</h1>
		    <ol class="breadcrumb pull-right where-am-i">
		      <li class="active">Forums</li>
		      <li ><a href="#">Chat</a> </li>
		    </ol>
		    <div class="clearfix"></div>
		  </div>
		  <table class="table forum table-striped">
		    <thead>
		      <tr>
		        <th class="cell-stat"></th>
		        <th>
		          <h3></h3>
		        </th>
		        <th class="cell-stat text-center hidden-xs hidden-sm">Commentaire</th>
		        <th class="cell-stat-2x hidden-xs hidden-sm">Auteur</th>
		      </tr>
		    </thead>
		    <tbody>
		    {% for elmt in listForum %}
		      {% if elmt.commentaires|length > 0 %}
		      <tr>
		        <td class="text-center"><i class="fa fa-question fa-2x text-primary"></i></td>
		        <td>
		          <h4><a href="{{ path('commentaire',{'id':elmt.id}) }}">{{elmt.titre}}</a><br><small>({{elmt.resume}})</small></h4>
		        </td>
		       <td class="text-center hidden-xs hidden-sm"><a href="{{ path('commentaire',{'id':elmt.id})}}">{{elmt.commentaires|length}}</a></td>
		        <td class="hidden-xs hidden-sm">Par <a href="{{ path('commentaire',{'id':elmt.id})}}">{{elmt.utilisateur.nom}}</a><br><small><i class="fa fa-clock-o"></i> {{elmt.date|date("Y-m-d")}}</small></td>
		      </tr>
		      {% else %}
                 <tr>
		        <td class="text-center"><i class="fa fa-question fa-2x text-primary"></i></td>
		        <td>
		          <h4>{{elmt.titre}}<br><small>({{elmt.resume}})</small></h4>
		        </td>
		       <td class="text-center hidden-xs hidden-sm">{{elmt.commentaires|length}}</td>
		        <td class="hidden-xs hidden-sm">Par {{elmt.utilisateur.nom}}<br><small><i class="fa fa-clock-o"></i> {{elmt.date|date("Y-m-d")}}</small></td>
		      </tr>
		      {% endif %}
		    {% endfor %}
		    </tbody>
		  </table>
		  <nav class="article_pagination">
			{{ knp_pagination_render(listForum) }}
	      </nav>
		
		</div>

		{% else %}
		  <div class="text-danger">Aucun forum n'a été crée à ce jour</div>
		{% endif %}
{% endblock%}