{% extends 'MainBundle::base.html.twig' %}
{% use 'MainBundle:Front:menu.html.twig' %}
{% use 'MainBundle:Front:agenda.html.twig'%}
{% use 'MainBundle:Front:footer.html.twig' %}
{% block main_master %}
	<section class="row">
		<div class="col-sm-8">
		<h1 class="titre-boite-outil">Offres d'emploi</h1>
		<aside id="recherche_rapport">
     		 <form class="navbar-form " role="search">
			        <div class="form-group">
			          <select class="form-control">
			            {% for elmt in offres %}
			                <option>{{elmt.typeOffre.libelle}}</option>
			            {% endfor %}

			          </select>
			          <select class="form-control">
			          	  <option>Tous les domaines</option>
						   {% for elmt in offres %}
						      <option>{{elmt.domaine.libelle}}</option>
						   {% endfor %}
					</select>
					 <select class="form-control">
					 	  <option>France entière</option>
					 	  {% for offre in offres %}
						  <option>{{offre.ville.departement.libelle}}</option>
						  {% endfor %}
					</select>
					<br><br><label>Trié par: </label>
		
					 <a href="#">date<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
			        </a></div>
			       
<!-- 			        <button type="submit" class="btn btn-primary">Rechercher</button> -->
     		 </form>
    </aside>
    <section class="" id="liste_rapport">
      {% for elmt in offres %}
      <a class="fancybox fancybox.iframe" href="{{ path('detail_offre',{'id':elmt.id}) }}"><div id="resultat_recherche">
		
        <h4>{{elmt.titre}}, {{elmt.typeContrat}}</h4>
        <li class="date_publication"> Publié le {{elmt.datePublication|date('Y/m/d')}}</li>
        <li><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> {{elmt.societe}}</li>
        <li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>{{elmt.ville.libelle}}</li>
        
      </div></a>
     {% endfor %}
      <nav class="article_pagination">
			{{ knp_pagination_render(offres) }}
	  </nav>
    </section>
    </div>
  	<aside class="aside_accueil col-sm-4">
				<h3 id="titre_agenda"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Agenda</h3>
				<div id="calendar">
				
				</div>
	</aside>
	
	</section>
    
   {% endblock %}