{% extends 'MainBundle::base.html.twig' %}
{% use 'MainBundle:Front:menu.html.twig' %}
{% use 'MainBundle:Front:footer.html.twig' %}
{% use 'MainBundle:Front:agenda.html.twig' %}
{% block main_master %}

		<section id="haut" class="presentation row">
		<h1 id="association"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> L'association REMB</h1>
			<div class="col-sm-8 presentation-remb">
			
			
			<div class="img"><img src="{{ asset ('img/groupe/membre1.jpg') }}"></img></div>
			<article >
				
				<article>
				{% autoescape %}
				{{assoc.presentation|raw}}
				{% endautoescape %}
				</article>
				<article class="equipe">
					<p>	
					<h2 id="equipe">Notre équipe</h2>
					
						{% autoescape %}
						{{assoc.equipeText|raw}}
						{% endautoescape %}
					</p>

					{% for pole in poles %}
                         <div>
                         {% autoescape %}
                            <h3> <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span> {{pole.pole.nom}}</h3>
                            {{pole.pole.description|raw}}
                            {% if pole.images|length>0 %}
      |                      {% for image in pole.images %}
                              <img src="{{ asset ('img/'~image.url) }}">
                             {% endfor %}
                            {% endif %}
                         {% endautoescape %}
                         </div>
					{% endfor %}
				</article>
				<article class="realisation ">
					
						<h2 id="realisations">Nos réalisations</h2>
						<p>	
						Quapropter a natura mihi videtur potius quam ab indigentia orta amicitia,
						 applicatione magis animi cum quodam sensu amandi quam cogitatione quantum 
						 illa res utilitatis esset habitura. Quod quidem quale sit, etiam in bestiis
						  quibusdam animadverti potest, quae ex se natos ita amant ad quoddam tempus 
						  et ab eis ita amantur ut facile earum sensus appareat.</p>
						  <p>Quod in homine multo 
						  est evidentius, primum ex ea caritate quae est inter natos et parentes, quae 
						  dirimi nisi detestabili.</p>

						  {% for real in realisations %}
                            <div>
                             {% autoescape %}
                                <h3><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>{{real.realisation.titre}}</h3>
                                {% if real.images|length>0 %}
                                  {% for image in real.images %}
						  	       <img src="{{ asset('img/'~image.url) }}"/>
						  	      {% endfor %}
						  	    {% endif %}
						  	    {{real.realisation.description|raw}}
                             {% endautoescape %}
                            </div>
						  {% endfor %}

						 <!-- <div>
						  	<h3><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span> Préparations des futurs étudiant mahorais</h3>
						  	<img src="{{ asset('img/actualite/prep_bachelier_mayotte1.jpg') }}"/>
						  	<img src="{{ asset ('img/actualite/prep_bachelier_mayotte2.jpg') }}"/>
						  	<p>
						  		applicatione magis animi cum quodam sensu amandi quam cogitatione quantum 
						 illa res utilitatis esset habitura. Quod quidem quale sit, etiam in bestiis
						  quibusdam animadverti potest, quae ex se natos ita amant ad quoddam tempus 
						  et ab eis ita amantur ut facile earum sensus appareat.
						  	</p>
						  </div>
						  
						  <div>
						  	<h3><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span> Quam cogitatione quantum </h3>
						  	<img src="{{ asset ('img/groupe/img4.jpg') }}"/>
						  	<img src="{{ asset ('img/groupe/img2.jpg')}}"/>
						  	<p>
						  		applicatione magis animi cum quodam sensu amandi quam cogitatione quantum 
						 illa res utilitatis esset habitura. Quod quidem quale sit, etiam in bestiis
						  quibusdam animadverti potest, quae ex se natos ita amant ad quoddam tempus 
						  et ab eis ita amantur ut facile earum sensus appareat.
						  	</p>
						  </div>-->
						<a id="ancre_haut" href="#haut"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true">Haut page</span></a> 
				</article>
			
			</article>
			
			</div>
			<div class="col-sm-4">
				
				<aside class="aside_accueil ">
					<nav class="nav-right-association">
						<ul class="nav nav-pills nav-stacked">
							<li class="active"><a href="#association">Qui sommes nous ?</a></li>
							<li><a href="#equipe">Notre équipe</a></li>
							<li><a href="#realisations">Nos Réalisations</a></li>
						</ul>
					</nav>
					<h3 id="titre_agenda"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>  Agenda</h3>
					<div id="calendar">
					
					</div>
				</aside>
			</div>
			
			
		</section>

{% endblock %}		

