{% extends 'MainBundle::base.html.twig' %}
{% use 'MainBundle:Front:menu.html.twig' %}
{% use 'MainBundle:Front:footer.html.twig' %}
{% block main_master %}

		<section id="haut" class="presentation row">
		<h1 id="association"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> L'association REMB</h1>
			<div class="col-sm-8 presentation-remb">
			
			
			<div class="img"><img src="{{ asset ('img/groupe/membre1.jpg') }}"></img></div>
			<article >
				
				<article>
				<p>
					Haec igitur lex in amicitia sanciatur, ut neque rogemus res turpes nec faciamus rogati.
					 Turpis enim excusatio est et minime accipienda cum in ceteris peccatis, tum si quis c
					 ontra rem publicam se amici causa fecisse fateatur. Etenim eo loco, Fanni et Scaevola, locati
					  sumus ut nos longe prospicere oporteat futuros casus rei publicae. Deflexit iam ali
					  quantum de spatio curriculoque consuetudo maiorum.
				</p>
				
				<p>
					Quapropter a natura mihi videtur potius quam ab indigentia orta amicitia,
					 applicatione magis animi cum quodam sensu amandi quam cogitatione quantum 
					 illa res utilitatis esset habitura. Quod quidem quale sit, etiam in bestiis
					  quibusdam animadverti potest, quae ex se natos ita amant ad quoddam tempus 
					  et ab eis ita amantur ut facile earum sensus appareat. Quod in homine multo 
					  est evidentius, primum ex ea caritate quae est inter natos et parentes, quae 
					  dirimi nisi detestabili.
				
				</p>
				</article>
				<article class="equipe">
					<p>	
					<h2 id="equipe">Notre équipe</h2>
					
						Quapropter a natura mihi videtur potius quam ab indigentia orta amicitia,
						 applicatione magis animi cum quodam sensu amandi quam cogitatione quantum 
						 illa res utilitatis esset habitura. Quod quidem quale sit, etiam in bestiis
						  quibusdam animadverti potest.
					</p>
					<div >
						<h3><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>  Pôle trésorerie et partenariat</h3>
						<p>Quod in homine multo 
						  est evidentius, primum ex ea caritate quae est inter natos et parentes, quae 
						  dirimi nisi detestabili.</p>
						<img src="{{ asset('img/tresorerie_partenariat/img2.jpg') }}"/>
						<img src="{{ asset('img/tresorerie_partenariat/img1.jpg') }}"/>
					</div>
					<div >
						<h3><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>  Pôle administration</h3>
						<p>Quod in homine multo 
						  est evidentius, primum ex ea caritate quae est inter natos et parentes, quae 
						  dirimi nisi detestabili.illa res utilitatis esset habitura. Quod quidem quale sit, etiam in bestiis
						  quibusdam animadverti potest.</p>
						<img src="{{ asset ('img/administration/img2.jpg') }}"/>
						<img src="{{ asset('img/administration/img5.jpg') }}"/>
					</div>
					<div>
						<h3><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span> Pôle éducatif</h3>
						<p>Quod in homine multo 
						  est evidentius, primum ex ea caritate quae est inter natos et parentes, quae 
						  dirimi nisi detestabili.</p>
						<img src="{{ asset('img/educatif/img1.jpg') }}"/>
						<img src="{{ asset ('img/educatif/img2.jpg') }}"/>
					</div>
					<div>
						<h3><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span> Pôle culturel</h3>
						<p>Quod in homine multo 
						  est evidentius, primum ex ea caritate quae est inter natos et parentes, quae 
						  dirimi nisi detestabili.</p>
						<img src="{{ asset ('img/culturel/img1.jpg') }}"/>
						<img src="{{ asset ('img/culturel/img2.jpg') }}"/>
						<img src="{{ asset ('img/culturel/img3.jpg') }}"/>
						<img src="{{ asset ('img/culturel/img4.jpg') }}"/>
					</div>
				</article>
				<article class="realisation ">
					
						<h2 id="realisations">Nos réalisations</h2>
						<p>	
						Quapropter a natura mihi videtur potius quam ab indigentia orta amicitia,
						 applicatione magis animi cum quodam sensu amandi quam cogitatione quantum 
						 illa res utilitatis esset habitura. Quod quidem quale sit, etiam in bestiis
						  quibusdam animadverti potest, quae ex se natos ita amant ad quoddam tempus 
						  et ab eis ita amantur ut facile earum sensus appareat.</p>
						  <p>Quod in homine multo 
						  est evidentius, primum ex ea caritate quae est inter natos et parentes, quae 
						  dirimi nisi detestabili.</p>
						  
						  <div>
						  	<h3><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span> Préparations des futurs étudiant mahorais</h3>
						  	<img src="{{ asset('img/actualite/prep_bachelier_mayotte1.jpg') }}"/>
						  	<img src="{{ asset ('img/actualite/prep_bachelier_mayotte2.jpg') }}"/>
						  	<p>
						  		applicatione magis animi cum quodam sensu amandi quam cogitatione quantum 
						 illa res utilitatis esset habitura. Quod quidem quale sit, etiam in bestiis
						  quibusdam animadverti potest, quae ex se natos ita amant ad quoddam tempus 
						  et ab eis ita amantur ut facile earum sensus appareat.
						  	</p>
						  </div>
						  
						  <div>
						  	<h3><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span> Quam cogitatione quantum </h3>
						  	<img src="{{ asset ('img/groupe/img4.jpg') }}"/>
						  	<img src="{{ asset ('img/groupe/img2.jpg')}}"/>
						  	<p>
						  		applicatione magis animi cum quodam sensu amandi quam cogitatione quantum 
						 illa res utilitatis esset habitura. Quod quidem quale sit, etiam in bestiis
						  quibusdam animadverti potest, quae ex se natos ita amant ad quoddam tempus 
						  et ab eis ita amantur ut facile earum sensus appareat.
						  	</p>
						  </div>
						<a id="ancre_haut" href="#haut"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true">Haut page</span></a> 
				</article>
			
			</article>
			
			</div>
			<div class="col-sm-4">
				
				<aside class="aside_accueil ">
					<nav class="nav-right-association">
						<ul class="nav nav-pills nav-stacked">
							<li class="active"><a href="#association">Qui sommes nous ?</a></li>
							<li><a href="#equipe">Notre équipe</a></li>
							<li><a href="#realisations">Nos Réalisations</a></li>
						</ul>
					</nav>
					<h3 id="titre_agenda"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>  Agenda</h3>
					<div id="calendar">
					
					</div>
				</aside>
			</div>
			
			
		</section>

{% endblock%}		

